* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --bg-color: rgba(0, 0, 0, 0.5);
  /* var(--bg-color) */
  --gray: #99959b;
  /* var(--gray) */
  --dark: #1c2432;
  /* var(--dark) */
  --blue: #566481;
  /* var(--blue) */
  --dark-blue: #4d5979;
  /* var(--blue) */
  --pink: #bb8083;
  /* var(--pink) */
  --coral: #e78175;
  /* var(--coral) */
  --dark-pink: #86657a;
  /* var(-- --dark-pink) */
  --hot-pink: #a55468;
  /* var(--hot-pink) */
  --purple: #58536a;
  /* var(--purple) */
  --lt-purple: #9b8b9c;
  /* var(--lt-purple) */
}
html {
  scroll-behavior: smooth;
}
/*Begin New CSS*/
body {
  background: linear-gradient(var(--coral), var(--dark-blue)) !important;
}
.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(var(--bg-color), rgba(0, 0, 0, 0.2)),
    /*change gradient to what you want*/ url('../img/Header_Background.jpg')
      no-repeat center center fixed;
  position: relative;
}
.content-container {
  position: absolute;
  top: 150px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  width: Calc(100% - 50px);
  margin: 25px;
  height: Calc(100vh - 225px);
  justify-content: space-evenly;
}
.text-box {
  margin: auto;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background: var(--bg-color);
  width: 63%;
  padding: 20px;
  color: white;
  text-align: center;
  display: block;
  height: 500px;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.img-card {
  margin: auto;
  /* top: Calc(50% - 325px); */
  width: 60%;
  padding: 20px;
  display: block;
  height: 100%;
  color: #fefefe;
  display: none;
}

.img-container {
  margin: auto;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background: var(--bg-color);
  width: 60%;
  height: 800px;
  padding: 25px;
  top: Calc(50% - 400px);
  position: absolute;
}
.mySlides {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  /* max-width: fit-content; */
}
.mySlides img {
  /*should separate out .demo*/
  border-radius: 15px;
  margin: auto;
  max-height: 100%;
  /* object-fit: cover; */
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}
.column {
  text-align: center;
}
.demo {
  border-radius: 5px;
}
/* Form */

.translucent-form-overlay {
  background: var(--bg-color);
  margin: auto;
  min-width: 350px;
  width: 30%;
  padding: 20px;
  color: #fefefe;
  /* position: absolute; */
  /* top: 20%; */
  border-radius: 25px;
  border: 2px solid #ffffff;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay h3 img {
  height: 120px;
}
.translucent-form-overlay input,
.translucent-form-overlay select,
.translucent-form-overlay input::-webkit-input-placeholder,
.translucent-form-overlay input:-ms-input-placeholder,
.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

.next-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: var(--bg-color);
  text-align: center;
  color: white;
}
.next-section img,
.jump-section img {
  width: auto;
  height: 100%;
  opacity: 0.5;
}
.jump-section img {
  transform: rotate(180deg);
}

.jump-section {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
}
#about {
  padding-bottom: 0;
}
.reveal {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  border-radius: 25px !important;
  border: 2px solid #ffffff !important;
  top: Calc(50% - 300px) !important;
}
.reveal div {
  padding: 25px;
}
.reveal div img {
  border-radius: 25px;
}
.reveal h2,
.reveal p {
  text-align: center;
  color: white;
}
.text-box img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px !important;
  margin-bottom: 25px;
}
/*Begin old CSS*/

nav {
  display: flex;
  padding: 0% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--pink);
  /* background: rgba(222, 108, 4, 0.8); */
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

nav .fa-solid {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: var(--pink);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/* Clothing Image container */

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 20px;
  border-radius: 5px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* .row:after {
  content: '';
  display: table;
  clear: both;
} */

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Weather section */
.translucent-form-overlay2 {
  /* max-height: 400px; */
  height: 300px;
  display: block;
  /* margin: auto; */
  margin-left: 50px;
  /* width: 25%; */
  width: 63%;
  padding: 10px;
  color: #fefefe;
  position: absolute;
  top: 20%;
  /* left: 5%; */
  left: 25px;
  opacity: calc(0.8);
  border-radius: 25px;
  border: 2px solid #ffffff;
  display: none;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 20px;
  background-color: rgb(18, 18, 73);
  color: white;
  width: 100%;
  margin: 10px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  height: 200px;
}

.currentUV span {
  padding: 10px 20px;
  border-radius: 8px;
}

.image {
  width: 20px;
  height: 20px;
  padding: 35px;
}

/* Our Services */

.ourServices {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.serviceAbout:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(245, 245, 245, 0.469);
  transition: 0.5s;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: var(--dark);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.services-col {
  flex-basis: 31%;
  background: rgba(245, 245, 245, 0.673);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.services-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.9);
}

h3 {
  text-align: center;
  font-weight: 600;
  /* margin: 10px 0; */
}

.form-img-weather {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/* Our Team */
.ourTeam {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.ourTeam .row {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.team-col {
  flex-basis: 20%;

  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 300px;
}
.team-col img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 300px;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: var(--dark-pink);
  /* background: var(--pink); */
  border-radius: 300px;
  /* background: rgba(222, 108, 4, 0.8); */
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.demo {
  max-height: 75px;
  max-width: 75px;
}
#searchCurrent p {
  color: white;
  display: inline-block;
  width: 100%;
}
#searchCurrent {
  display: none;
}
#searchBtn {
  background-color: var(--blue);
}
#searchBtn:hover {
  background-color: var(--blue);
  opacity: 0.7;
  transition: 0.3s;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
