*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/img/Background.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 0% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(222, 108, 4, 0.8);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
nav .fa-solid{
  display: none;
}

@media(max-width: 700px){
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: orange;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/* form */

.translucent-form-overlay {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  color: #fefefe;
  position: absolute;
  top: 200px;
  right: 50px;
  opacity:calc(0.8);
  border-radius: 25px;
  border: 2px solid #ffffff;

}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}


/* weathersearch */
.translucent-form-overlay2 {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  color: #fefefe;
  position: absolute;
  top: 750px;
  right: 50px;
  opacity:calc(0.8);
  border-radius: 25px;
  border: 2px solid #ffffff;

}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 10px;
  background-color: rgb(18, 18, 73);
  color: white;
  width: 100%;
  margin-right: 20px;
  border-radius: 25px;
  border: 2px solid #ffffff;
}

.currentUV span {
  padding: 10px 20px;
  border-radius: 8px;
}

.image {
  width: 20px;
  height: 20px;
  padding: 35px;
}


/* img */

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  max-width: 1000px;
  width: 22%;
  height: auto;
  padding: 20px;
  color: #fefefe;
  top: 200px;
  left: 150px;

  border-radius: 25px;
  border: 2px solid #ffffff;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}








  
  