* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/img/Background.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(222, 108, 4, 0.8);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid rgba(222, 108, 4, 0.8);
  background-color: rgba(222, 108, 4, 0.8);
  transition: 1s;
}
nav .fa-solid {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: orange;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/* Form */

.translucent-form-overlay {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  color: #fefefe;
  position: absolute;
  top: 200px;
  left: 50px;
  opacity:calc(0.8);
  border-radius: 25px;
  border: 2px solid #ffffff;

}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

/* Clothing Image container */

.container {
  position: absolute;
  max-width: 1000px;
  width: 24.5%;
  height: auto;
  padding: 20px;
  color: #fefefe;
  top: 200px;
  right: 485px;
  display: block;
  border-radius: 25px;
  border: 2px solid #ffffff;
}

.mySlides {
  display: block;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 20px;
  border-radius: 5px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Weather section */
.translucent-form-overlay2 {
  max-width: 400px;
  width: 100%;
  padding: 25px;
  color: #fefefe;
  position: absolute;
  top: 200px;
  right: 50px;
  opacity:calc(0.8);
  border-radius: 25px;
  border: 2px solid #ffffff;

}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 20px;
  background-color: rgb(18, 18, 73);
  color: white;
  width: 100%;
  margin-right: 20px;
  border-radius: 25px;
  border: 2px solid #ffffff;
}

.currentUV span {
  padding: 10px 20px;
  border-radius: 8px;
}

.image {
  width: 20px;
  height: 20px;
  padding: 35px;
}

/* Our Services */

.ourServices {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.services-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.services-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Our Team */

.ourTeam {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.team-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.team-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(222, 108, 4, 0.8);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* Contact Us */

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa-brands {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
